name: imanai-tap-data-platform
services:
  kafka:
    image: confluentinc/cp-kafka:8.1.0
    container_name: kafka
    environment:
      KAFKA_KRAFT_MODE: 'true'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    ports:
      - "9092:9092"
      - "9093:9093"
    networks:
      - imanai-tap

  redis:
    image: redis:8.2-bookworm
    container_name: redis
    command: [ "redis-server", "--appendonly", "no" ]
    ports:
      - "6379:6379"
    networks:
      - imanai-tap

  clickhouse:
    image: clickhouse/clickhouse-server:25.10-alpine
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    networks:
      - imanai-tap
    tmpfs:
      - /var/lib/clickhouse

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testdb
      PGDATA: /tmp/postgres_data
    tmpfs:
      - /tmp/postgres_data
    ports:
      - "5432:5432"
    networks:
      - imanai-tap

networks:
  imanai-tap:
    external: true
